<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.food_station_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:background="@color/blue"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".DrinksActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".CombosActivity" />
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".GohanActivity" />
        <activity android:name=".SaladActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".MitadGEActivity" />
        <activity android:name=".MitadGSActivity" />
        <activity android:name=".MitadESActivity"></activity>
    </application>

</manifest>
